<div class="row-form-parent">
  <div class="row-form col-2">
    <label for="itemsPerPageDropdown" class="col-7">Items per Page:</label>
    <select class="form-select" aria-label="Default select example"
      [(ngModel)]="pageInfo.dataPerPage" 
      (change)="onDataPerPageChange()">
        <option *ngFor="let option of dataPerPageOptions" 
        [value]="option" 
        [selected]="option == pageInfo.dataPerPage">
          {{ option }}
        </option>
    </select>
  </div>
  <div>
    <form class="row-form" id="form-search">
      <input class="form-control"  type="text" placeholder="search" #search>
      <i class="fas fa-regular fa-rectangle-xmark float-button" (click)="search.value = ''"></i>
      <button class="btn btn-success" (click)="onSearch(search.value)"><i class="fas fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col" (click)="sortByName()">
          <i class="fas" [ngClass]="sortDirection.name === 'desc'? 'fa-caret-down' : 'fa-caret-up'"></i>
          <span class="mx-1">Full Name</span>
        </th>
        <th scope="col" (click)="sortByEmail()">
          <i class="fas" [ngClass]="sortDirection.email === 'desc'? 'fa-caret-down' : 'fa-caret-up'"></i>
          <span class="mx-1">Email</span>
        </th>
        <th scope="col" (click)="sortByGroup()">
          <i class="fas" [ngClass]="sortDirection.group === 'desc'? 'fa-caret-down' : 'fa-caret-up'"></i>
          <span class="mx-1">Group</span>
        </th>
        <th scope="col" (click)="sortByBasicSalary()">
          <i class="fas" [ngClass]="sortDirection.salary === 'desc'? 'fa-caret-down' : 'fa-caret-up'"></i>
          <span class="mx-1">Basic Salary</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of employeesPerPage">
        <td>
          <button class="btn btn-info" (click)="getDetailEmployee(item.id)">Detail</button>
          <button class="btn btn-warning mx-1" (click)="updateEmployee(item.id)">Edit</button>
          <button class="btn btn-danger" (click)="deleteEmployee(item.id)">Delete</button>
        </td>
        <td>{{item.firstName}} {{item.lastName}}</td>
        <td>{{item.email}}</td>
        <td>{{item.group}}</td>
        <td>{{item.basicSalary | currency: "Rp"}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5">
          <ul class="pagination justify-content-center">
            <li class="page-item" [ngClass]="pageInfo.page === 1 ? 'disabled' : ''">
              <button class="page-link" (click)="onChangePage(pageInfo.page - 1)">Previous</button>
            </li>
              <span *ngFor="let page of pageInfo.totalPage">
                <li class="page-item">
                  <button class="page-link" (click)="onChangePage(page)" [ngClass]="page === pageInfo.page ? 'disabled': ''" >
                    {{page}}
                  </button>
                </li>
              </span>
              <li class="page-item" [ngClass]="pageInfo.page === pageInfo.totalPage.length ? 'disabled' : ''">
                <button class="page-link" (click)="onChangePage(pageInfo.page + 1)">Next</button>
              </li>
            </ul>
        </td>
      </tr>
    </tfoot>
</table>
